
{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-6" style="margin: 0 auto;">
      <form action="{% url 'searchdata' %}">
        <label for="query">Search By Title</label>
        <input type="search" class="form-control" name="query" id="query">
        <button type="submit" class="btn btn-primary" style="display: block;margin: 1rem auto;">Search</button>
      </form>
    </div>


{#    rest#}


{% for  task in alltodos %}

<div class="row">
    <div class="col-md-6" style="margin:0 auto;">
        <div class="card container-fluid" style="margin-top: 1rem;">
            <div class="card-body">
              <h5 class="card-title">{{task.title}} </h5>
                <p> {{task.priority}} </p>
              <p class="card-text">{{task.description}}</p>
                <p class="card-text">{{task.category}}</p>
              <p class="card-text">{{task.due_date_time}}</p>
                <p>
                    <b>Due:</b> {{ task.due_date_time|timeuntil }}
                </p>



               <a href="{% url 'task_edit' task.pk %}" class="btn btn-warning">+ Edit task </a>
                <a href="{% url 'task_delete' task.pk %}" class="btn btn-danger" >+ Delete task </a>


            </div>
          </div>
    </div>
</div>
</div>
{% endfor %}
{% endblock %}