{% extends 'base.html' %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
  <h3 class="w3-bar-item"> MANAGERS </h3>
  <a href=" {% url 'managetimes' %}" class=" w3-bar-item w3-button"> Out Dated Tasks</a>
    <a href=" {% url 'managecategory' %}"  class="w3-bar-item w3-button"> FULL EMPTY</a>
{#  <a href=" {% url 'pri_low' %}" class="w3-bar-item w3-button">Low Priority</a>#}


</div>


{% for  task in datas %}

<div class="row">
    <div class="col-md-6" style="margin:0 auto;">
        <div class="card container-fluid" style="margin-top: 1rem;">
            <div class="card-body">
              <h5 class="card-title">{{task.title}} </h5>
                <p> {{task.priority}} </p>
              <p class="card-text">{{task.description}}</p>
                <p class="card-text">{{task.category}}</p>
              <p class="card-text">{{task.due_date_time}}</p>

                 <a href="{% url 'task_edit' task.pk %}" class="btn btn-warning"> Edit task </a>
                <a href="{% url 'task_delete' task.pk %}" class="btn btn-danger" > Delete task </a>

            </div>
          </div>
    </div>
</div>

{% endfor %}



{#{% for cat in empty %}#}
{#   <div> empty :{{empty.category}}</div>#}
{#   {% endfor %}#}
{##}
{#{% for cate in full %}#}
{#   <div> full : {{full.category}}</div>#}
{#   {% endfor %}#}



{% endblock content %}

